@using ImageSharp
@model IList<HandyMapp.Models.GoogeApi.PlaceDetails>

@{
    ViewData["Title"] = "PlacesResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center jumbotron-notFront">
    <div class="container">
        <svg class="stepDiactivated" width="10%" height="10%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
<a class="step-breadcrumbs step-breadcrumbs" asp-controller="Buildings" asp-action="WayOfSearching" style="cursor: pointer;">
<circle cx="50" cy="50" r="40.372" style="fill:#fff; stroke:#fff; stroke-width: 4px;" />
<g id="_2" transform="matrix(1,0,0,1,3.75692,-2.72152)">
<text x="27.164px" y="75.726px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:64.014px;fill:#1370B8; stroke:#1370B8;stroke-width:1px;">1</text>
                </g>
            </a>
        </svg>
        <svg class="stepDiactivated" width="10%" height="10%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
<a class="step-breadcrumbs" asp-controller="Buildings" asp-action="WayOfSearching">
        <circle cx="50" cy="50" r="40.372" style="fill:#fff; stroke:#fff; stroke-width: 4px;" />
        <g id="_2" transform="matrix(1,0,0,1,3.75692,-2.72152)">
<text x="29.164px" y="75.726px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:64.014px;fill:#1370B8; stroke:#1370B8;stroke-width:1px;">2</text>
                </g>
            </a>
        </svg>
        <svg class="stepActivated" width="10%" height="10%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <circle cx="50" cy="50" r="40.372" style="fill:#fff; stroke:#fff; stroke-width: 4px;" /><g id="_2" transform="matrix(1,0,0,1,3.75692,-2.72152)">
        <text x="29.164px" y="75.726px" style="font-family:'ArialMT', 'Arial', sans-serif;font-size:64.014px;fill:#1370B8; stroke:#1370B8; stroke-width:1px">3</text>
      </g>
    </svg>
    </div>
</div>
<div class="description-container">
    <p class="description-text">This are the accessible buildings we found...</p>
</div>
<br>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12" id="PlacesResults">
        @for (int i = 0; i < @Model.Count; i++)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 PlaceResult " >
                <div class="row">
                    @if (@Model[i].result.photos != null) { 
                    <div class="ImageContainter">
                        <img src=@("https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=" + @Model[i].result.photos[0].photo_reference + "&key=AIzaSyDfFiQB4uFA8_lS-24Ll1EFUXxfGVGoJWs") />
                    </div> }
                </div>
                <div class="row Placetext" id="@("PlaceTitle"+i)">
                    <div class="col-lg-8 col-md-8 col-sm-8 PlaceTitle" >
                        <span>@Html.DisplayTextFor(m => Model[i].result.name)</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 Accessibility">
                        <div class="row">
                            <span class="RatingTitle">Toegankelijkheid:</span>
                        </div>
                        <div class="row">
                            <svg viewBox="0 0 270 50" class="rating" id="@("rating"+i)">>
                                <path class="helft" d="M25,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9L0.4,19.9c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        C24,0.8,24.5,0.5,25,0.5V39.4z" />
                                <path class="helft" d="M25,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2L37.2,30.5l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                                <path class="midden" d="M23.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39L25,39.4l-1.5,0.9L23.8,1.3z" />
                                <path class="helft" d="M80,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9L55.4,19.9c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        C79,0.8,79.5,0.5,80,0.5V39.4z" />
                                <path class="helft" d="M80,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2L92.2,30.5l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                                <path class="midden" d="M78.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39L80,39.4l-1.5,0.9L78.8,1.3z" />
                                <path class="helft" d="M135,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9l-12.3-10.7c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        c0.2-0.5,0.7-0.8,1.2-0.8V39.4z" />
                                <path class="helft" d="M135,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2l-12.4,10.7l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                                <path class="midden" d="M133.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39l-1.2-0.8l-1.5,0.9L133.8,1.3z" />
                                <path class="helft" d="M190,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9l-12.3-10.7c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        c0.2-0.5,0.7-0.8,1.2-0.8V39.4z" />
                                <path class="helft" d="M190,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2l-12.4,10.7l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                                <path class="midden" d="M188.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39l-1.2-0.8l-1.5,0.9L188.8,1.3z" />
                                <path class="helft" d="M245,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9l-12.3-10.7c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        c0.2-0.5,0.7-0.8,1.2-0.8V39.4z" />
                                <path class="helft" d="M245,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2l-12.4,10.7l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                                <path class="midden" d="M243.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39l-1.2-0.8l-1.5,0.9L243.8,1.3z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <span class="PlaceAdress">@Html.DisplayTextFor(m => Model[i].result.formatted_address)</span>
                </div>
                <div class="row">
                    <div class="DescriptionContainer">
                        <!-- max 40 words-->
                        <span>Website: @Html.DisplayTextFor(m => Model[i].result.website)</span><br />
                        <span>Rating: @Html.DisplayTextFor(m => Model[i].result.rating)</span><br />
                        <span>Opening hours: @Html.DisplayTextFor(m => Model[i].result.opening_hours)</span><br />
                    </div>
                </div>
                <div class="row PlaceButtons">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <button class="btn btn-primary btn-block btn-large" href="#"><span class="glyphicon glyphicon-globe"></span>Plan a route</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <button class="btn btn-primary btn-block btn-large" asp-controller="Buildings" asp-action="RouteOnMap"><span class="glyphicon glyphicon-road"></span>Plan a route</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12" id="PlacesOnMap">
        <!-- MAP -->
        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39247.393880584365!2d4.451594810916711!3d52.062213430658645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5c926360f6fe1%3A0x4b5ea24437f4c52c!2sZoetermeer!5e0!3m2!1snl!2snl!4v1513024375520" width="760" height="475" frameborder="0" style="border:0" allowfullscreen></iframe>
        -->
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12">
            <form>
                <input type="number" id="gradeInput" />
                <input type="button" class="btn btn-primary" value="Rating" id="grade">
            </form>
        </div>
    </div>
</div>
@section Style {
    <link rel="stylesheet" href="~/css/PlacesResult.css" />
}