@model IList<HandyMapp.Models.GoogeApi.Places.Details.PlaceDetails>

@{
    ViewData["Title"] = "PlacesResult";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}
<div id="map"></div>
<div class="PlacesResults">
    @if (@Model != null)
    {
        for (int i = 0; i < @Model.Count; i++)
        {
            <div class="PlaceResult">
                @if (@Model[i].result.photos != null)
                {
                    <div class="ImageContainter">
                        <img src=@("https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference=" + @Model[i].result.photos[0].photo_reference + "&key=AIzaSyAlvCDCInzIY4nkZMM5iZLkF8VZagEO8QY") />
                    </div>
                }
                <div class="Placetext" id="@(" PlaceTitle" + i)">
                    <div class="PlaceTitle">
                        @Html.DisplayTextFor(m => Model[i].result.name)
                    </div>
                </div>
                <div class="Accessibility">
                    <div>
                        <span class="RatingTitle">Toegankelijkheid:</span>
                    </div>
                    <div class="RatingStars">
                        <svg viewBox="0 0 270 50" class="rating" id="@(" rating" + i)">
                            >
                            <path class="helft" d="M25,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9L0.4,19.9c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        C24,0.8,24.5,0.5,25,0.5V39.4z" />
                            <path class="helft" d="M25,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2L37.2,30.5l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                            <path class="midden" d="M23.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39L25,39.4l-1.5,0.9L23.8,1.3z" />
                            <path class="helft" d="M80,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9L55.4,19.9c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        C79,0.8,79.5,0.5,80,0.5V39.4z" />
                            <path class="helft" d="M80,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2L92.2,30.5l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                            <path class="midden" d="M78.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39L80,39.4l-1.5,0.9L78.8,1.3z" />
                            <path class="helft" d="M135,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9l-12.3-10.7c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        c0.2-0.5,0.7-0.8,1.2-0.8V39.4z" />
                            <path class="helft" d="M135,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2l-12.4,10.7l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                            <path class="midden" d="M133.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39l-1.2-0.8l-1.5,0.9L133.8,1.3z" />
                            <path class="helft" d="M190,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9l-12.3-10.7c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        c0.2-0.5,0.7-0.8,1.2-0.8V39.4z" />
                            <path class="helft" d="M190,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2l-12.4,10.7l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                            <path class="midden" d="M188.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39l-1.2-0.8l-1.5,0.9L188.8,1.3z" />
                            <path class="helft" d="M245,39.4l-14.1,8.5c-1,0.6-2.2-0.3-1.9-1.4l3.7-15.9l-12.3-10.7c-0.9-0.7-0.4-2.2,0.7-2.2l16.3-1.4l6.4-15
	        c0.2-0.5,0.7-0.8,1.2-0.8V39.4z" />
                            <path class="helft" d="M245,0.5c0.5,0,0.9,0.2,1.2,0.7l0,0l6.4,15l16.3,1.4c1.1,0.1,1.6,1.5,0.7,2.2l-12.4,10.7l3.7,15.9
	        c0.3,1.1-0.9,2-1.9,1.4l-14-8.4V0.5z" />
                            <path class="midden" d="M243.8,1.3c0.4-0.9,1.8-1.1,2.4-0.1v39l-1.2-0.8l-1.5,0.9L243.8,1.3z" />
                        </svg>
                    </div>
                </div>
                <span class="PlaceAdress">@Html.DisplayTextFor(m => Model[i].result.formatted_address)</span>
                <div class="DescriptionContainer">
                    <!-- max 40 words-->
                    @if (@Model[i].result.website != null)
                    {
                        <span>Website: <a href="@(Model[i].result.website)">@Html.DisplayTextFor(m => Model[i].result.website)</a></span><br />
                    }
                    @if (@Model[i].result.international_phone_number != null)
                    {
                        <span>Tel: <a href="@(" tel:" + Model[i].result.international_phone_number)">@Html.DisplayTextFor(m => Model[i].result.international_phone_number)</a></span><br />
                    }
                    @if (@Model[i].result.rating > 0)
                    {
                        <span>Google Rating: @Html.DisplayTextFor(m => Model[i].result.rating)</span><br />
                    }
                    @if (@Model[i].result.opening_hours != null)
                    {
                        <div class="openingHours">
                            <strong>Opening hours: </strong><br />
                            @foreach (var time in @Model[i].result.opening_hours.weekday_text)
                        {
                                <span>@time</span><br />
                            }
                        </div>
                    }
                </div>
                <div class="row PlaceButtons">
                    <form method="post" asp-controller="Buildings" asp-action="PlaceDetails">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input class="hidden" name="PlaceId" value="@Model[i].result.place_id" />
                            <button class="btn btn-primary btn-block btn-large" href="#"><span class="glyphicon glyphicon-globe"></span>Review</button>
                        </div>
                    </form>
                    <form method="post" asp-controller="Navigation" asp-action="SelectWalkingAid">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input class="hidden" name="query" value="@Model[i].result.name" />
                            <button class="btn btn-primary btn-block btn-large"><span class="glyphicon glyphicon-road"></span>Route</button>
                        </div>
                    </form>
                </div>
                <div class="PlaceResultButton">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
        }
    }
</div>
<div style="display: flex; flex-direction: column">
    <div class="row breadcrumbRow">
        <ul class="container breadcrumbContainer">
            <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="Buildings" asp-action="WayOfSearching">Way of searching</a></li>
            <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="Buildings" asp-action="PlaceInput">Enter adress/name</a></li>
            <li class="breadcrumbHandy currentBreadcrumb breadcrumblineVisited">Find your place</li>
        </ul>
    </div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->


</div>
@section Style {
    <link rel="stylesheet" href="~/css/PlacesResult.css" />
<link rel="stylesheet" href="~/css/StarReview.css" />
}

@section Scripts {
    <script src="~/js/Map.js"></script>
<script src="~/js/PlaceResults.js"></script>
    <script async defer
            type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-u38FnWXefa5sf7k--4Tp5hFhYcyvE08&libraries=places&callback=initMap">
    </script>
}




